 <link rel="stylesheet" href="~/css/profile.css" />
  <br> <br><br>
<section class ="profile mb-5">
    <div class="container-lg">
        <div class="row mt-5 pt-5">
            <div class="col-md-6 text-right">
                <div class="profile-img">
                    <img src="~/images/profile-pic.png"  class="rounded-circle mw-100" style="width: 20%;" />
                </div>
            </div>
            <div class="col-md-6  mt-5">
                <div class="preofile-details">
                    <h3>Damola Akinseye</h3>
                    <p>Joined 5 April, 2022</p>
                    <p>damolaakin@gmail.com</p>
                    <p>07088967786</p>
                    <p>34, Sensei Rd, Lekki, Lagos</p>
                   <a href="#edit-profile" class="btn-color px-3 mt-5">Edit profile</a>

                </div>
            </div>
        </div>
    </div>
</section>

    <div class="h2 pb-2 mb-4 border-bottom border-dark-50">          
    </div>

 <div class="container" style="padding-left: 10rem;">
        <div class="row">
            <div class="card text-bg-light border-light col-md-12 col-sm-12 px-0 mt-5">
                <div class="card-header">Reviews</div>
                <div class="card-body text-center">
                    <img src="~/images/rev.png" style="width: 7%"/>
                    <h5 class="card-title">No Reviews</h5>
                    <p>You have not made any new review yet</p>
                </div>
            </div>
        </div>
    </div>
