
﻿@{
    ViewData["Title"] = "Contact";
}




 <br> <br> <br>

<p></p>
 
<div class="container-fluid pt-5">

    <div class="row">
        <div class="col-6 d-none d-lg-block pt-3">
            <img class="img-fluid" src="~/Images/Contacts.png" max-width="100%" max-height="100%">
        </div>
        <div class="col-md-6 col-sm-12  pt-3">
            <h3>Get in touch</h3>
            <p class="text-left">Have some enquiry or feedbacks from us? Fill out the form below to contact our team</p>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">First Name</label>
                    <input type="text" class="form-control bg-light" id="inputEmail4" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Last Name</label>
                    <input type="text" class="form-control bg-light" id="inputPassword4" placeholder="Last Name">
                </div>
                <div class="form-group col-md-12">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control bg-light" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-12">
                    <label for="message4">Message</label>
                    <textarea class="form-control bg-light" rows="4" id="comment"></textarea>
                </div>
                <div class="form-group col-md-12  mb-5">
                    <input type="submit" class="btn btn-color px-5 btn-send  pt-2 btn-block"
                           value="Send Message">
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
<div class="row text-center pt-5">
    <div class="col-sm-12 col-md-3 mb-3">
        <h5 class=office>Lagos Head Office</h5>
        <p>25B, Victoria Island, Lagos</p>
        <p>08068997466, 09055689944</p>
        <p>orentalcarslagos@gmail.com</p>
    </div>
    <div class="col-sm-12 col-md-3 border-left mb-3">
        <h5 class="office">Abuja Office</h5>
        <p>25B, Victoria Island, Lagos</p>
        <p>08068997466, 09055689944</p>
        <p>orentalcarslagos@gmail.com</p>
    </div>
    <div class="col-sm-12 col-md-3 border-left mb-3">
        <h5 class="office">Portharcourt</h5>
        <p>25B, Victoria Island, Lagos</p>
        <p>08068997466, 09055689944</p>
        <p>orentalcarslagos@gmail.com</p>
    </div>
    <div class="col-sm-12 col-md-3 border-left mb-3">
        <h5 class="office">Ibadan </h5>
        <p>25B, Victoria Island, Lagos</p>
        <p>08068997466, 09055689944</p>
        <p>orentalcarslagos@gmail.com</p>
    </div>
</div>
