
@{
    ViewData["Title"] = "CAR RENTALS";
}


<div class="row">
    <div class="col-md-12 locationTitle">
        <div>
            <h1>We are located across Nigeria</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu a lectus lobortis neque,<br />
            nec scelerisque amet, sed. Interdum nibh pellentesque lectus etiam eu vitae. </p>
        </div>
    </div>
</div>
<section class="hero-container-wrapper">
    <div id="locationStates">
        <div>
            <a class="state" href="">Abia (4)</a>
            <a class="state" href="">Adamawa (6)</a>
            <a class="state" href="">Akwa Ibom (4)</a>
            <a class="state" href="">Anambra (2)</a>
            <a class="state" href="">Bauchi (4)</a>
            <a class="state" href="">Bayelsa (8)</a>
            <a class="state" href="">Benue (2)</a>
            <a class="state" href="">Borno (4)</a>
            <a class="state" href="">Cross River (10)</a>
        </div>
        <div>
            <a class="state" href="">Delta (12)</a>
            <a class="state" href="">Ebonyi (5)</a>
            <a class="state" href="">Edo (9)</a>
            <a class="state" href="">Ekiti (3)</a>
            <a class="state" href="">Enugu (5)</a>
            <a class="state" href="">Gombe (4)</a>
            <a class="state" href="">Imo (8)</a>
            <a class="state" href="">Jigawa (4)</a>
            <a class="state" href="">Kaduna (1)</a>
            <a class="state" href="">Kano (1)</a>
        </div>
        <div>
            <a class="state" href="">Katsina (5)</a>
            <a class="state" href="">Kebbi (4)</a>
            <a class="state" href="">Kogi (9)</a>
            <a class="state" href="">Kwara (3)</a>
            <a class="state" href="">Lagos (24)</a>
            <a class="state" href="">Nasarawa (6)</a>
            <a class="state" href="">Niger (2)</a>
            <a class="state" href="">Ogun (2)</a>
            <a class="state" href="">Ondo (6)</a>
        </div>
        <div>
            <a class="state" href="">Osun (4)</a>
            <a class="state" href="">Oyo (7)</a>
            <a class="state" href="">Plateau (2)</a>
            <a class="state" href="">Rivers (12)</a>
            <a class="state" href="">Sokoto (8)</a>
            <a class="state" href="">Taraba (9)</a>
            <a class="state" href="">Yobe (1)</a>
            <a class="state" href="">Zamfara (1)</a>
            <a class="state" href="">Abuja (21)</a>
        </div>
    </div>
    <div id="bigMap">
        <img src="~/Images/bigMap.png" alt="">
    </div>
</section>