import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;500&display=swap');

.btn-color {
    background-color: #E85D04;
    color: #fff;
}

.cardbody-color {
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

.h3 {
   font-family: Manrope;
   font-weight: 500;
}
